<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NQRQ2V5L");
    </script>
    <!-- End Google Tag Manager -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace-autoloader.js"
    ></script>
    <script id="file-data" type="application/json">
      <%- JSON.stringify(files) %>
    </script>
    <script id="folders-data" type="application/json">
      <%- JSON.stringify(folders) %>
    </script>
    <script defer src="/assets/javascript/fileInfoModal.js"></script>
    <script defer src="/assets/javascript/addFormsModals.js"></script>
    <script defer src="/assets/javascript/folderOptionsModal.js"></script>
    <script defer src="/assets/javascript/shareFileModal.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div class="layout">
      <%- include('./modals.ejs') %>
      <header class="header">
        <h1><a href="/drive">FILE UPLOADER</a></h1>
        <div class="authentication">
          <form action="/sign-out" method="POST">
            <button type="submit" class="sign-out-img sign-out-m">
              <i class="bi bi-box-arrow-right"></i>
            </button>
            <input
              type="submit"
              value="Sign out"
              class="sign-out-btn sign-out-d"
            />
          </form>
        </div>
      </header>
      <aside>
        <button class="add-folder-btn">
          <i class="bi bi-folder-plus"></i>
          <p>New Folder</p>
        </button>
        <button class="add-file-btn">
          <i class="bi bi-file-earmark-plus"></i>
          <p>New File</p>
        </button>
      </aside>
      <main>
        <p class="username"><%= username %></p>
        <section class="flex-container">
          <h2>Folders</h2>
          <% if(folders.length === 0) { %>
          <h3>Add new folders</h3>
          <% } else { %>
          <section class="folders-grid">
            <% folders.forEach((folder) => { %>
            <a href="/drive/<%= folder.id %>" data-id="<%= folder.id %>">
              <div class="folder">
                <div class="folder-flex">
                  <i class="bi bi-folder"></i>
                  <p><%= folder.name %></p>
                </div>
                <div class="folder-menu-icon">
                  <i class="bi bi-three-dots-vertical"></i>
                </div>
              </div>
            </a>
            <% }) %>
          </section>
          <% } %>
          <section class="files-flex">
            <h2>Files</h2>
            <% if(files.length === 0) { %>
            <h3>Add new files</h3>
            <% } else { %>
            <div class="legend">
              <p>Name</p>
              <p>Size</p>
              <p>Created</p>
            </div>
            <% files.forEach((file) => { %>
            <div class="file" data-id="<%= file.id %>">
              <div class="file-wrapper">
                <i class="bi bi-file-earmark"></i>
                <p>Name: <%= file.original_name %></p>
              </div>
              <% if(file.size / (1024 * 1024) >= 1) { %>
              <p>Size: <%= (file.size / (1024 * 1024)).toFixed(2) %> MB</p>
              <% } else { %>
              <p>Size: <%= (file.size / 1024).toFixed(2) %> KB</p>
              <% } %>
              <p>
                Created at: <%= new Date(file.created_at).toLocaleDateString()
                %>
              </p>
            </div>
            <% }) %> <% } %>
          </section>
        </section>
      </main>
    </div>
    <footer>
      <section class="mobile-footer">
        <i class="bi bi-folder-plus"></i>
        <i class="bi bi-file-earmark-plus"></i>
        <i class="bi bi-box-arrow-right"></i>
      </section>
    </footer>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NQRQ2V5L"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
